.center {
font-family: 'Courier New', Courier, monospace;
text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
color: red;
}

.container {
    display: grid;
    grid-area: ;
}

.a {

}

.b {

}

.c {

}

.d {


}
